.title {
	color: #ffffff;
	font-size: 34px;
	font-weight: 900;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5.43px;
	&:after {
		content: '';
		position: absolute;
		width: 105px;
		height: 2px;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		@media (max-width: $md4+px) {
		  bottom: -30px;
		}
	}
	@media (max-width: $md2+px) {
		font-size: 30px;
	}
	@media (max-width: $md4+px) {
	  font-size: 18px;
	}
	&_black {
		position: relative;
		color: #000;
		&:after {
			background-color: #000;
			bottom: -37px;
			@media (max-width: $md1+px) {
				bottom: -17px;
			}
			@media (max-width: $md3+px) {
			   bottom: -10px;
			}
		}
	}

}
