.footer {
	 
	 &__wrapper {
		height: 630px;
		@media (max-width: $md3+px) {
		  height: auto;
		}
	 }
    &__info {
		position: relative;
      background-color: $main-color;
		padding: 30px 28px 30px 28px;
		@media (max-width: $md3+px) {
		  position: static;
		}
	 }
	 &__map {
		 height: 100%;
		 
	 }
    &__addr {
		  margin-bottom: 26px; 
		  text-align: center;
		  a {
			color: #ffffff;
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;
			@media (max-width: $md4+px) {
				font-size: 18px;
			}
			
		  }
        
    }
    &__phone {
        display: block;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 28px;
        text-align: center;
        line-height: 20px;
       
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 2px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
        img {
            height: 27px;    
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
	 }
	 &__close {
		position: absolute;
		top: -15px;
		right: -20px;
		width: 30px * 1.3;
		height: 30px * 1.3;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $main-color;
		z-index: 1;
		span {
			display: block;
			width: 30px;
			height: 2px;
			background-color: #fff;
				&:first-child {
					transform: rotate(45deg);
				}
				&:last-child {
					transform: translateY(-100%) rotate(-45deg);
				}
		}
		@media (max-width: $md3+px) {
		  display: none;
		}
	 }
}

.gm-style-iw {
	overflow: visible !important;
	padding: 13px !important;

	.poi-info-window {
		position: relative;
		z-index: 50;
		div, a {
			background-color: $main-color;
			color: #fff;
		}
	}
	.address div {
		color: #fff;
		background-color: $main-color;
	}
	.view-link {
		position: relative;
		z-index: 50;
		background-color: $main-color;
		 a span {
			background-color: $main-color;
		 }
	}
	div {
	  overflow: visible !important;
	}
	&::before {
		content: '';
		width: calc(100% + 15px);
		height: calc(100% + 13px);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: $main-color;
		border-radius: 10px;
	 }
	 &:after {
		 content: '';
		 position: absolute;
		 left: 50%;
		 bottom: -35px;
		 width: 40px;
		 height: 40px;
		 background-color: $main-color;
		 transform: translate(-50%, -50%) rotate(45deg);
	 }
 }

.gm-style .gm-style-iw-t::after {
	display: none !important;
}



.gm-style .gm-style-iw-c {
	transform: translate(-50%,-110%) !important;
}
.footer-mobile {
   display: block;
}